{% extends 'blog/basic.html' %}


{% block free %} active {% endblock %}

{% block title %} 😎️Blog🖕️ {% endblock %}


{% block body %} 

<div class="container my-5">
<div class="col-md-12" style="font-family: 'Grandstander', cursive;">
<h1>Free book's for Knowlegde Purpose</h1>
<h2>If there is no book that you want, then contact me</h2>
</div>
</div>
<div class="container my-4">
<div class="col-md-12">

<h5>1- .NET FRAMEWORK-</h5>
<a href="https://books.goalkicker.com/DotNETFrameworkBook/">https://books.goalkicker.com/DotNETFrameworkBook/</a>

<h5>2- Algorithms-</h5>
<a href="https://books.goalkicker.com/AlgorithmsBook/">https://books.goalkicker.com/AlgorithmsBook/</a>

<h5>3- Android-</h5>
<a href="https://books.goalkicker.com/AndroidBook/">https://books.goalkicker.com/AndroidBook/</a>

<h5>4- Angular 2</h5>
<a href="https://books.goalkicker.com/Angular2Book/">https://books.goalkicker.com/Angular2Book/</a>


<h5>5- Angular JS </h5>
<a href="https://books.goalkicker.com/AngularJSBook/">https://books.goalkicker.com/AngularJSBook/</a>


<h5>6- BASH </h5>
<a href="https://books.goalkicker.com/BashBook/">https://books.goalkicker.com/BashBook/</a>


<h5>7- C</h5>
<a href="https://ushortx.com/6wrxc">https://ushortx.com/6wrxc</a>
<a href="https://books.goalkicker.com/CBook/">https://books.goalkicker.com/CBook/</a>


<h5>8- C++</h5>
<a href="https://books.goalkicker.com/CPlusPlusBook/">https://books.goalkicker.com/CPlusPlusBook/</a>


<h5>9- C#</h5>
<a href="https://books.goalkicker.com/CSharpBook/">https://books.goalkicker.com/CSharpBook/</a>


<h5>10- GIT </h5>
<a href="https://books.goalkicker.com/GitBook/">https://books.goalkicker.com/GitBook/</a>


<h5>11- JAVA SCRIPT</h5>
<a href="https://books.goalkicker.com/JavaScriptBook/">https://books.goalkicker.com/JavaScriptBook/</a>


<h5>12- Python</h5>
<a href="https://books.goalkicker.com/PythonBook/">https://books.goalkicker.com/PythonBook/</a>


</div>
</div>
{% endblock %}
