{% extends 'blog/basic.html' %}


{% block home %} active {% endblock %}

{% block title %} 😎️Blog🖕️{% endblock %}


{% block css %} 



/*-------------------------socila media section--------------------------------*/
#social-media
{
	background:#f8f9fa;
	padding:100px 0;
}
#social-media p
{
	font-size:36px;
	font-weight:600;
	margin-bottom:30px;
}
.social-icons img
{
	width:60px;
	transition:0.5s;
}
.social-icons a:hover img
{
	transform:translateY(-10px);
}
/*------------------------------------------footer-----------------------*/
#footer
{
background-image:linear-gradient(to right,lavender,black);
color:#fff;
}
.footer-box
{
	padding:20px;
}
.align img
{
	width:120px;
	height:100px;
	margin-bottom:20px;
}
.footer-box .fa
{
	margin-right:15px;
	font-size:25px;
	height:40px;
	width:40px;
	text-align:center;
	padding-top:7px;
	border-radius:4px;
	background-image:linear-gradient(to right,black,black);
}
footer-box .form-control
{
	box-shadow:none!important;
	border:none;
	border-radius:0;
	margin-top:25px;
	max-width:250px;
}
.footer-box .btn-primary
{
	box-shadow:none;
	border:none;
	border-radius:0;
	margin-top:30px;
	background-image:linear-gradient(to right,black,black);
}
hr
{
	background-color:#fff;
}
.copyright
{
	margin-bottom:0;
	padding-bottom:20px;
	text-align:center;
}




{% endblock %}


{% block body %} 
{% load static %}


<div>
<div class="card text-center" style="background:black; " >
 <div class="jumbotron" style="background:black; color:white; font-family: 'Dancing Script', cursive; ">
  <img src="{% static 'eagle.jpg' %}" width="200" >
  <h1 class="display-1">Beigner Point</h1>
  <p class="lead"><h1>NR</h1>"hello, Friends!" in this site you learn about ethical hacking</p>
  <hr class="my-4">
  <h5>I am here to give some right Knowledge about in Ethical hacking field.</h5>
</div>

</div>
</div> 
  
<div style="background:grey; color:white; margin-top:-50px;">
<div class="container my-5">
<div class="col-md-8">
        <div class="card-body">
        <h1 class="blog-post-title">Welcome in Penetration Testing World!</h1>
        <p class="blog-post-meta">August 15, 2020 by <a href="#">Navi</a></p>  
        <p></p> 
        </hr>       
        <p>Penetration testing is most effective when you have a good grasp on the environment being tested. If you're an ethical hacker, penetration testing as a job, e.g. A company hired you to hack them and make a full summary on it, you will usually be given the average information. You will already have a map of the website down. But, sometimes, you need to get the information yourself, which is sometimes tricky.</p>
        <p>In this chapter, I will be showing you how-to perform <a href="#">Advanced Reconnaissance Techniques.</a></p>
        <blockquote>
          <p>In this chapter or however it is called here, our <strong>KEY TOPICS include:</strong></p>
	    <ul>
	      <li>What is reconnaissance and why do we need it</li>
	      <li>Reconnaissance types</li>
	      <li>Using DNS to quickly identify potential targets</li>
	      <li>Using search engines data</li>
	      <li>Using metadata to your advantage</li>
	    </ul>
        </blockquote>
        <p>The types of reconnaissance we will be focused on our OSINT (Open Source Intellegence) and footprinting.<em>If you're wondering... OSINT consists of gathering, processing, and analyzing publically available data and turning it into information that is actionable</em>.</p>
        <h5>Important: This is a 'chapter' in reconnaissance but after sometime viewing at @Occupythewebotw 's page, I see he has made posts on reconnaissance already. Before I make another tutorial on this, please tell me above what you would rather like to be shown.</h5>

      
</div>
</div>
</div>  
  

</div>


<div style="background:white; color:black;
padding:10px; width:100%; ">
<div class="card text-center">

<div class="jumbotron" style="background:white; width:100%">
<img src="{% static 'nr.jpg'  %}" width="100">
<h2 class="display-5">How My Journey start In Ethical Hacking Field?</h2>

<div class="container">
<div class="col-md-12">
<h6>Hello friend's, My name is Navi today iam tell about my journey when i was in third semester ,watched a video about python programming language ,found it  interesting and started learning it online .That was turning  point in my life ,  learning  python was fun time  </h6>
<h6>I make my basics strong in python. This journey of learning python teach me alot of things .For ethical hacking ,i  have already make the python fundamental basics  strong   which make learning ethical hacking  little easier.</h6>
<h6>I installed LINUX KALI operating system .I started learnig ethical hacking with the help of youtube learning tutorials.This was not  that easy as it seems beacause some   videos with incomplete information left me with alot of questions.</h6>
<h6> I searched alot about each and everything in ethical hacking.</h6>
<h6>For this  i learnt  about Networking ,HTML,CSS and Javascript and Django.This journey of learning will keep going on.After learning this ,I came up with the idea of creating this blog for learning purpose .</h6>
<span class="likebtn-wrapper" data-theme="drop" data-identifier="item_1"></span> 
</div>
</div>

</div>



</div>
</div>


<div style="background:lavender; padding:30px; width:100% height:500px;">
<div class="container my-5">
<div class="row">

   <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'tor.png' %}" class="card-img" alt="...">
    </div>
    
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">what is Tor?</h5>
        <p class="card-text">Tor is free and open-source software for enabling anonymous communication. The name derived from the acronym for the original software project name "The Onion Router".</p>
        <a href="/blog/tor">continue reading...</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>               
      </div>
    </div>
  </div>
</div>

 <div class="card mb-3 mx-2" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'nmap.png' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">How to do Footprinting with Nmap?</h5>
        <p class="card-text">Nmap (Network Mapper) is a free and open-source network scanner created by Gordon Lyon (also known by his pseudonym Fyodor Vaskovich).</p>
        <a href="/blog/nmap">continue reading...</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'proxy.jpg' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">What is proxies</h5>
        <p class="card-text">In computer networking, a proxy server is a server application or appliance that acts as an intermediary for requests from clients seeking resources from servers that provide those resources.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="/blog/proxies">continue reading...</a>
      </div>
    </div>
  </div>
</div>
  

<div class="card mb-3 mx-2" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'aircrack.png' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">How to crack wiffi?</h5>
        <p class="card-text">Aircrack-ng is a network software suite consisting of a detector, packet sniffer, WEP and WPA/WPA2-PSK cracker and analysis tool for 802.11 wireless LANs.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="/blog/aircrack">continue reading...</a>
      </div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#staticBackdrop">for more topics</button>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Read Please</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>DISCLAIMER : </p>
        <p>This blog is created for learning purpose to the  beginners.The  honour of this blog  is not responsible for any criminal or unauthorized activities.As the main motive of this blog is to give abundant knownledge about ethical hacking to the learners who want to pursue their career in it.The information that is used in this blog is gathered from different resources.You will found almost everything about ethical hacking in this blog.This will make your  work little easier .</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="n1()" class="btn btn-primary">I Agree</button>
      </div>
    </div>
  </div>
</div>










</div>

</div>

</div>

<div class="container " style="margin-top:60px">
<h1 style="font-family: 'Roboto Slab', serif;"> Some Important Information For Beigner's</h1>
<div class="row my-4">

<div class="col-md-4">
<div class="card" style="width:18rem;">
  <img src="{% static 'kl1.jpeg'  %}"  height="200px" class="card-img-top" alt="...">
  <div class=" card-body">
    <p class="card-text"><center>Don't waist your time because it's so precious ,Never give up , Read book's and do more practical , forget those who demortivate you if you want to achive your goal. </center></p>
    <h4 class="card-text" style="font-family: 'Long Cang', cursive;">~~~~~ Navi singh ~~~~~~</h4>
  </div>
</div>
</div>

<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="{% static 'proo1.jpg'  %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Everybody wants to know from which language i started learning for ethical hacking so by my opinion first you see in which side you have intrest like finding vulniabuilty from a website 
, making our payloads etc , so first you started from python because its most usefull language in this stream.</p>
  <h4 class="card-text" style="font-family: 'Long Cang', cursive;">~~~~~ Navi singh ~~~~~~</h4>
  </div>
</div>
</div>


<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="{% static 'hack.png'  %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">If you think with the use of tool's you become a master in ethical hacking field so sorry it's not a reailty , hmm the use of tool's then good when you know what does this tool exactly do in backend.</p>
    <p class="card-text">Allways try to write your own script ,don't copy script without any knowlegde about the script because you don't know what the script do </p>
    <h4 class="card-text" style="font-family: 'Long Cang', cursive;">~~~~~ Navi singh ~~~~~~</h4>
  </div>
</div>
</div>


</div>
</div>


<!--------------------------social media section--------------------------->
<section id="social-media">
<div class="container text-center">
<p>FIND US ON SOCIAL MEDIA</p>
<div class="social-icons">
<a href="#" onclick='nsl()' ><img src="{% static 'image/images/whatsapp 22.jfif' %}"></a>
<a href="#"><img src="{% static  'image/images/instu.jfif' %}"></a>
<a href="#"><img src="{% static 'image/images/twitter.png' %}"></a>
<a href="#"><img src="{% static 'image/images/facebook.png' %}"></a>
<a href="#"><img src="{% static 'image/images/youtube.png' %}"></a>
<a href="#"><img src="{% static 'image/images/linkin.png' %}"></a>
<a href="#"><img src="{% static 'image/images/snapchat.png' %}"></a>
</div>
</div>
</section>
<!--------------------------footer section----------------------------------->
<section id="footer">

<div class="row">
<div class="col-md-4 footer-box">
<a  class="align"href="#"><img src="{% static 'image/images/yellow logo.jfif' %}"><img src="{% static 'image/images/smile.png' %}"></a>
<p>Growth Marketing is the process of designing and conducting experiments to optimize and improve the results of a target area. 
If you have a certain metric you want to increase, growth marketing is a method you can utilize to achieve that.</p>

</div>
<div class="col-md-4  footer-box">
<p><b>CONTACT US</b></p>
<p><i class="fa fa-map-marker" aria-hidden="true"></i>World trade center,Banglore</p>
<p><i class="fa fa-phone" aria-hidden="true"></i>+1 57689790567</p>
<p><i class="fa fa-envelope-o" aria-hidden="true"></i>xyz@gmail.com</p>
</div>
<div class="col-md-4 footer-box">
<p><b>Subscribe newsletter</b></p>
<form action="/blog/" method="post">
{% csrf_token %}
<input type="email" name="email" class="form-control" placeholder="Your email">
<button type="submit" class="btn btn-primary">Subscribe</button>
</form>
</div>
</div>
<hr>
<p class="copyright">Website crafted by NaviRaj</p>

</section>




 {% endblock %}


{% block js %}
<script>
function nsl(){
swal("Here's the title!", "...and here's the text!");
}

function n1(){
location.href = '/blog/more/'
}

</script>
{% endblock %}





